<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YoutubeApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7DFEB7EF1E5089500038FCE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DFEB8081E5089510038FCE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DFEB8131E5089510038FCE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
